@font-face {
  src: url('../resources/fonts/RobotoSlab-Light.ttf');
  font-family: 'RobotoSlab Light';
  font-display: swap;
}

@font-face {
  src: url('../resources/fonts/RobotoSlab-Medium.ttf');
  font-family: 'RobotoSlab Medium';
  font-display: swap;
}

@font-face {
  src: url('../resources/fonts/RobotoSlab-Regular.ttf');
  font-family: 'RobotoSlab Regular';
  font-display: swap;
}